<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <title>Korive 로그인</title>
  </head>
  <body>
    로그인화면
  </body>
</html>
