<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <link rel="stylesheet" href="/src/views/Home/styles/main.css" />
    <link rel="stylesheet" href="/src/views/components/header/header.css" />
    <title>Korive</title>
  </head>
  <body>
    <div onclick=""></div>
    <%- include('../components/header/header.html') %>
    <div class="container">
      <div id="card-list" class="flex-container"></div>
    </div>
    <script>
      const cardContainer = document.querySelector('#card-list');
      const videosDataUrl = '/api/videos';

      async function getVideoData(url = '') {
        const response = await fetch(url)
          .then((res) => res.json())
          .then((data) => data);
        return response;
      }

      const promiseData = getVideoData(videosDataUrl);

      promiseData.then((videosData) => {
        let videosHTML = '';
        for (let i = 0; i < videosData.length; i++) {
          let video = videosData[i];
          videosHTML +=
            '<div class="card" onclick="navigateToDetail(' +
            video.id +
            ')">' +
            '<img class="card-image" src="' +
            video.imageUrl +
            '" alt="" />' +
            '<div class="card-container">' +
            '<div class="card-author">' +
            '<img class="card-author-icon" src="src/assets/user/avatar.png" alt="" />' +
            '</div>' +
            '<div class="card-info">' +
            '<h3 class="card-title">' +
            video.title +
            '</h3>' +
            '<p class="card-author-name">' +
            video.author +
            '</p>' +
            '<p class="card-views"> 조회수 ' +
            video.views +
            '</p>' +
            '</div>' +
            '</div>' +
            '</div>';
        }
        cardContainer.innerHTML = videosHTML;
      });

      function navigateToDetail(idx) {
        const detailUrl = '/detail/' + idx;
        location.href = detailUrl;
      }
    </script>
    <script src="/src/views/components/header/header.js"></script>
  </body>
</html>
