<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/globals.css" />
    <link rel="stylesheet" href="/src/views/components/header/header.css" />
    <title>Korive</title>
  </head>
  <body>
    <%- include('../components/header/header.html') %>
    <h1>파일 등록하기</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input
        type="file"
        name="fileInput"
        id="fileInput"
        accept="image/*"
        required
      />
      <button type="submit">Upload File</button>
    </form>
    <script src="/src/views/components/header/header.js"></script>
  </body>
</html>
